<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Egg Decoder</title>
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">

    <!--MapBox stuff-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

    <!--Bootstrap stuff-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--D3 stuff-->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <style>
      #map{
        position:absolute; top:0; bottom:0; width:100%;
      }
      .customdiv{
        border: 1px solid black;
      }
      .fullheight{
        min-height: 24em;
      }
    </style>
  </head>
  <body>

    <div class="container rounded">
      <div class="row mt-3 mb-1">
        <div class="col-lg-6">
          <a href="/">
            <img src="/header_v3.png" alt="Egg Decoder" class="m-auto img-fluid d-block">
          </a>
        </div>
        <div class="col-lg-6 no-gutters">
          <!--Message flashing-->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger mb-0" role="alert">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <!--Main content area-->
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
