{% extends 'layout.html' %}

{% block body %}

<div class="row no-gutters mb-3 mt-3 bg-light rounded">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-3">
    <div class="row no-gutters">
      <!--summary section-->
      <div class="col-md-12 mb-2">
        <h5 class="font-weight-bold">Summary</h5>
        <h3 class="text-info">It has been {{processed_results['dates']['days']}} days since your eggs were packaged at {{plant_info[0]}}, approximately {{processed_results["distance"]}} miles away.</h3>
        {% if processed_results['dates']['good'] == False %}
          <h3 class="text-danger">They have likely gone bad.</h3>
        {% endif %}
        {% if processed_results['dates']['good'] == True %}
          <h3 class="text-success">They are likely good for use.</h3>
        {% endif %}
      </div>

      <div class="col-md-12 fullheight">
        <div id="map" class="rounded"></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicGFydHl0YXgiLCJhIjoiY2p2c2dmOWs0MGVmNDN6b2c3MG5wZ3NjaiJ9.bbGlPyER6oSyAjBwYfcGiQ';

        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/navigation-preview-night-v4',
        zoom: 6,
        center: [{{processed_results['plant_coords'][0]}},{{processed_results['plant_coords'][1]}}]
        });

        var size = 150;

        var pulsingDot = {
        width: size,
        height: size,
        data: new Uint8Array(size * size * 4),

        onAdd: function() {
        var canvas = document.createElement('canvas');
        canvas.width = this.width;
        canvas.height = this.height;
        this.context = canvas.getContext('2d');
        },

        render: function() {
        var duration = 1000;
        var t = (performance.now() % duration) / duration;

        var radius = size / 2 * 0.3;
        var outerRadius = size / 2 * 0.7 * t + radius;
        var context = this.context;

        // draw outer circle
        context.clearRect(0, 0, this.width, this.height);
        context.beginPath();
        context.arc(this.width / 2, this.height / 2, outerRadius, 0, Math.PI * 2);
        context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
        context.fill();

        // draw inner circle
        context.beginPath();
        context.arc(this.width / 2, this.height / 2, radius, 0, Math.PI * 2);
        context.fillStyle = 'rgba(255, 100, 100, 1)';
        context.strokeStyle = 'white';
        context.lineWidth = 2 + 4 * (1 - t);
        context.fill();
        context.stroke();

        // update this image's data with data from the canvas
        this.data = context.getImageData(0, 0, this.width, this.height).data;

        // keep the map repainting
        map.triggerRepaint();

        // return `true` to let the map know that the image was updated
        return true;
        }
        };



        map.on('load', function() {
        map.loadImage('/egg-vector.png', function(error, image) {
        if (error) throw error;
        map.addImage('egg', image);
        map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": {
        "type": "geojson",
        "data": {
        "type": "FeatureCollection",
        "features": [{
        "type": "Feature",
        "geometry": {
        "type": "Point",
        "coordinates": [{{processed_results['plant_coords'][0]}},{{processed_results['plant_coords'][1]}}]
        }
        }]
        }
        },
        "layout": {
        "icon-image": "egg",
        "icon-size": .8
        }
        });
        });
        });
        </script>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-3">
    <h5 class="font-weight-bold">Details</h5>
    <table class="table table-sm">
      <tbody>
        <!--display plant code-->
        <tr>
          <td class="font-weight-bold">Plant Code</td>
          <td>{{plant_code}}</td>
        </tr>
        <!--use loop to iterate through and display plant attributes-->
        {%for i in range(plant_info | length)%}
        <tr>
          <td class="font-weight-bold">{{legend[i]}}</td>
          <td>{{plant_info[i]}}</td>
        </tr>
        {%endfor%}
        <tr>
          <td class="font-weight-bold">Julian Date Code</td>
          <td>{{processed_results['dates']['date_code']}}</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Pack Date</td>
          <td>{{processed_results['dates']['pack_date']}}</td>
        </tr>
        {% if processed_results['dates']['good'] == False %}
          <tr>
            <td class="font-weight-bold">Expiration Date</td>
            <td>{{processed_results['dates']['exp_date']}}</td>
          </tr>
        {% endif %}
        <tr>
          <td class="font-weight-bold">Today</td>
          <td>{{processed_results['dates']['today']}}</td>
        </tr>
        {% if processed_results['dates']['good'] == True %}
          <tr>
            <td class="font-weight-bold">Expiration Date</td>
            <td>{{processed_results['dates']['exp_date']}}</td>
          </tr>
        {% endif %}
        <tr>
          <td class="font-weight-bold">Expiration Threshold</td>
          <td>{{processed_results['dates']['threshold']}} days</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Transport Miles</td>
          <td>{{processed_results["distance"]}}</td>
        </tr>
      </tbody>
    </table>
    <a href="https://apps.ams.usda.gov/plantbook/Query_Pages/PlantBook_Query.asp" class="text-info">Egg packing plant data sourced from the USDA AMS</a>
    <br>
    <a href="https://www.nathanwyand.com" class="text-info">Site built with Python, Flask, and Bootstrap by Nathan Wyand</a>
  </div>
</div>


<div class="row no-gutters mb-3">
  <div class="col-12">
    <a href="/" class="btn btn-info btn-block">Check Another Carton</a>
  </div>
</div>

{% endblock %}
