{% extends 'layout.html' %}

{% block body %}
  <!--row that holds main content-->
  <div class="row mt-3 mb-3 bg-light rounded">
    <!--left column-->
    <div class="col col-lg-6 col-md-6 col-sm-12 col-12 p-3">
      <h2 class="text-info">Enter the codes on your egg carton to find out when and where they were packaged.</h2>
      <img class="img-fluid rounded" src="/instructions_v3.png" alt="illustration of where to find date and plant codes on an egg carton">
    </div>
    <!--right column-->
    <div class="col col-lg-6 col-md-6 col-sm-12 col-12 p-3">
      <form method="POST" action="/">
        <div class="form-group">

            <!-- not sure what csrf token does -->
            {{ form.csrf_token }}

            <!--julian date label and field-->
            {{ form.julian_date.label }}
            {{ form.julian_date(placeholder='000', class='form-control mb-3') }}

            <!--plant code form group-->
            {{ form.plant_code.label }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">P-</span>
                </div>
                {{ form.plant_code(placeholder='00000A', class='form-control') }}
            </div>

            <!--zip code label and field-->
            {{ form.zip_code.label }}
            {{ form.zip_code(placeholder='12345', class='form-control mb-3') }}

          <!--field submit button-->
          <input class="btn btn-primary btn-block" type="submit" value="Decode">
        </div>
      </form>
    </div>
  </div>
  {{debug}}
{% endblock %}
